#vaccine-dose-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#vaccine-dose-list > p {
    margin-top: 0
}

#return-patient-dashboard-button {
    justify-self: right;
}