<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{% block title %}{% endblock %}</title>
        <div class="header-menu">
            <h1><a href="{{url_for('index')}}">EasyVax</a></h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                        {% for category, message in messages %}
                            <p class="{{category}}">{{message}}</p>
                        {% endfor %}
                {% endif %}
                {% endwith %}
            {% endblock %}
            {% if is_logged_in %}
                <a id="logout-button" href="{{ url_for('doctor.logout') }}">Logout</a>
            {% else %}
                <div id="header-menu-links">
                    <p>About Us</p>
                    <p>Plans and Pricing</p>
                    <p>Contact Us</p>
                </div>
            {% endif %}
        </div>
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            <p>Copyright 2020</p>
            {% endblock %}
        </div>
    </body>
</html>