{% extends "base.html" %}
{% block title %}Welcome to EasyVax{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<form name='forgot-password-form' action="{{url_for('doctor.change_password', doctor_id=doctor_id)}}" method='post'>
    <label>Enter your new password:</label>
    <input name="password" type="password" required>
    <label>Type the same password in again to confirm:</label>
    <input name="confirm-password" type="password" required>
    <input type="submit">
</form>
{% endblock %}