{% extends "base.html" %}
{% block title %}EasyVax{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block content %}
    <p>Welcome to EasyVax!</p>
    <form name='registration-form' action="{{url_for('doctor.register')}}" method='post'>
        <h3>Register</h3>
        <label>Name</label>
        <input name="name" type="text" required>
        <label>Email Address</label>
        <input name="email-address" onfocusout="checkIfUserExists(event)" type="email" required>
        <label>Phone Number</label>
        <input name="phone-number" type="text" required>
        <label>ID Number</label>
        <input name="government-id" type="text" maxlength="6" required>
        <label>Password</label>
        <input name="password" type="password" required>
        <input type="submit" value="Register">
    </form>
    <br />
    <br />
    <form name="login-form" action="{{url_for('doctor.login')}}" method='post'>
        <h3>Login</h3>
        <label>Email Address</label>
        <input name="email-address" type="email" required>
        <label>Password</label>
        <input name="password" type="password" required>
        <input type="submit" value="Log In">
        <a id="forgot-your-password" href="{{url_for('doctor.initiate_password_change')}}">Forgot your password?</a>
    </form>
    <script src="{{ url_for('static', filename='js/validate-users.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}