{% extends "base.html" %}
{% block title %}Welcome to EasyVax{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vaccine_dose.css') }}">
    <a id="return-patient-dashboard-button" href="{{ url_for('index')}}">Back to Patient Dashboard</a>
{% endblock %}
{% block content %}
    <form name='vaccine-dose-registration-form' action="{{ url_for('vaccine_dose.add_record', patient_id=patient_id) }}" method='post'>
        <label>Type</label>
        <input list="vaccine-types" name="type" required>
        <datalist id="vaccine-types">
            <option value="Pfizer-Biotech">
            <option value="Moderna">
            <option value="Johnson & Johnson">
            <option value="Astra-Zeneca">
            <option value="Sputnik V">
        </datalist>
        <label>Volume</label>
        <input name="volume" type="number" step=".01" required>
        <label>Dose Number</label>
        <input name="dose-number" type="number" required>
        <label>Dose ID</label>
        <input name="dose-id" type="text" maxlength="6" required>
        <input type="submit" />
    </form>
    <div id="vaccine-dose-list">
        <p>Vaccine Type</p><p>Dose Volume (mL)</p><p>Dose Number</p><p>Date</p><p>Dose ID</p><p>Delete</p>
        {% for vaccine_dose in vaccine_doses %}
            <p>{{vaccine_dose.type}}</p><p>{{vaccine_dose.volume}}</p><p>{{vaccine_dose.dose_no}}</p><p>{{vaccine_dose.dose_date}}</p><p>{{vaccine_dose.dose_id}}</p><a href="{{ url_for('vaccine_dose.delete_record', patient_id=patient_id, vaccine_id=vaccine_dose.id)}}">Delete</a>
        {% endfor %}
    </div>
{% endblock %}